<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                안녕하세요! 항상 새로운 것을 배우고 도전하고싶은 김규민입니다.
                6개월간 임베디드 교육을 받고 프로젝트를 진행하여 임베디드 개발자 역량을 길렀고
                제가 진행한 프로젝트들을 필요한 다른 사람들에게 보여주기 위한 포트폴리오입니다.
                
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                hello! My name is Gyu-min Kim and I always want to learn and challenge new things.
                I received embedded training for 6 months and developed my embedded developer capabilities by working on a project.
                This is a portfolio to show the projects I have worked on to others who need it.
            </p>
        </div>
    </div>
</section>
